services:
  app:
    network_mode: "host"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UNAME: ${UNAME}
        UID: ${UID}
        GID: ${GID}
    cap_add:
      - PERFMON
    environment:
      LANGCHAIN_TRACING_V2: ${LANGCHAIN_TRACING_V2}
      LANGCHAIN_ENDPOINT: ${LANGCHAIN_ENDPOINT}
      LANGCHAIN_API_KEY: ${LANGCHAIN_API_KEY}
      LANGCHAIN_PROJECT: ${LANGCHAIN_PROJECT}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      APILLM_API_KEY: ${APILLM_API_KEY}
      APILLM_BASE_URL: ${APILLM_BASE_URL}
      TOGETHER_API_KEY: ${TOGETHER_API_KEY}
      TOGETHER_BASE_URL: ${TOGETHER_BASE_URL}
      OLLAMA_OPENAI_BASE_URL: ${OLLAMA_OPENAI_BASE_URL}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      ANTHROPIC_BASE_URL: ${ANTHROPIC_BASE_URL}
      IONOS_API_KEY: ${IONOS_API_KEY}
      IONOS_BASE_URL: ${IONOS_BASE_URL}
    volumes:
      - type: bind
        source: ./workdir
        target: /home/${UNAME}/workdir
